
body {
    background-image:url("images_styles/teletubbie_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    resize: both;
}
div.bando{
    margin: auto;
    background-color: rgba(145, 145, 145, 0.705);
    border-radius: 10px;
    position: fixed;
}
img.logo{
    height:100px;

}
h1{
  padding: 10px;
  display: block;
  background-color: rgba(128, 128, 128, 0.458);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: monospace;
  display: flex;
  float: left;
  margin-top: 500px;
  display: unset;
  position: relative;
  visibility: hidden;

}
h1.character{
  margin-left: 175px;
}
img.character:hover+.character{
  visibility: visible;
}
h1.episod{
  margin-left: 275px;
}
h1.house{
  margin-left: 325px;
}
h1.idk{
  margin-left: 350px;
}
img.megaphone{
    height: 500px;
    size-adjust: cover;
    transition: transform 0.5s ease;
    animation: up 4s alternate;
    margin-left: 50px;
    margin-top: -70px;
}
img.megaphone:hover{
  transform: scale(1.05);
}
audio{
  margin: 0;
}
@keyframes up {
    0% {
      transform: translateY(200px);
    }
    5% {
      transform: translateY(190px);
    }
    10% {
      transform: translateY(180px);
    }
    15% {
      transform: translateY(170px);
    }
    20% {
      transform: translateY(160px);
    }
    25% {
      transform: translateY(150px);
    }
    30% {
      transform: translateY(140px);
    }
    35% {
      transform: translateY(130px);
    }
    40% {
      transform: translateY(120px);
    }
    45% {
      transform: translateY(110px);
    }
    50% {
      transform: translateY(100px);
    }
    55% {
      transform: translateY(90px);
    }
    60% {
      transform: translateY(80px);
    }
    65% {
      transform: translateY(70px);
    }
    70% {
      transform: translateY(60px);
    }
    75% {
      transform: translateY(50px);
    }
    80% {
      transform: translateY(40px);
    }
    85% {
      transform: translateY(30px);
    }
    90% {
      transform: translateY(20px);
    }
    95% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }