body {
    background-image:url("images_styles/teletubbie_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}
div.bando{
    margin: auto;
    background-color: rgba(145, 145, 145, 0.705);
    border-radius: 10px;
    position: fixed;
}
img.logo{
    height:100px;
}
img.megaphone{
    height: 400px;


}